certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==42.0.5
docker==7.0.0
greenlet==3.0.3
idna==3.7
kafka-python==2.0.2
packaging==24.0
psycopg2==2.9.9
pycparser==2.22
PyMySQL==1.1.0
pywin32==306
requests==2.31.0
SQLAlchemy==2.0.29
testcontainers==4.3.3
typing_extensions==4.11.0
urllib3==2.2.1
wrapt==1.16.0
