.vscode/
.venv/

# activemq
activemq/data/*
!activemq/data/.gitkeep

# airflow
airflow/logs/*
!airflow/logs/.gitkeep
airflow/mysql/data/*
!airflow/mysql/data/.gitkeep

__pycache__
.ipynb_checkpoints

## DAGS
airflow/dags/*
!airflow/dags/.gitkeep

# archery

# cassandra
cassandra/data/*
!cassandra/data/.gitkeep

# clickhouse
clickhouse/data
clickhouse/logs
clickhouse/bytebase

# flink
flink/archive
flink/log

# hadoop
hadoop/clients/python/pydoop/pydoop/

# harbor
harbor/harbor-offline-installer-v2.10.1.tgz
harbor/harbor/*
!harbor/harbor/certs/.gitkeep
!harbor/harbor/harbor.yml
!harbor/harbor/docker-compose.yml

# hazelcast
hazelcast/data/mysql/data/*
!hazelcast/data/mysql/data/.gitkeep

# istio
istio/istio-1.20.3/

# kafka
kafka/data/*
!kafka/data/.gitkeep
kafka/2.1.1/data
kafka/2.1.1/zk-data

# keycloak
keycloak/data/mysql/*
!keycloak/data/mysql/.gitkeep
keycloak/codes/

# minio
minio/data/*
!minio/data/.gitkeep
minio/clients/python/file_uploader.txt

# mongodb
mongodb/non-cluster/data/db/
!mongodb/non-cluster/data/db/.gitkeep

# mysql
mysql/data/*
!mysql/data/.gitkeep

mysql/8/data/*
!mysql/8/data/.gitkeep

# openresty
openresty/modules/lua-resty-mysql-0.27

# postgresql
postgresql/data/*
postgresql/pgadmin/*
!postgresql/pgadmin/.gitkeep

# rabbitmq
rabbitmq/data/*
rabbitmq/data/.gitkeep

# redis
redis/data/*
!redis/data/.gitkeep

# samza
samza/samza-hello-samza

# sqlite
sqlite/data/*
!sqlite/data/.gitkeep

# vector
vector/bytebase
vector/logs