.vscode/

# airflow
airflow/logs/*
!airflow/logs/.gitkeep
airflow/mysql/data/*
!airflow/mysql/data/.gitkeep

__pycache__
.ipynb_checkpoints

## DAGS
airflow/dags/*
!airflow/dags/.gitkeep

# cassandra
cassandra/data/*
!cassandra/data/.gitkeep

# archery

# hazelcast
hazelcast/data/mysql/data/*
!hazelcast/data/mysql/data/.gitkeep

# istio
istio/istio-1.20.3/

# keycloak
keycloak/data/mysql/*
!keycloak/data/mysql/.gitkeep
keycloak/codes/

# mysql
mysql/data/*
!mysql/data/.gitkeep

mysql/8/data/*
!mysql/8/data/.gitkeep

# sqlite
sqlite/data/*
!sqlite/data/.gitkeep