[mysqld]
server-id=1
log-bin=/var/lib/mysql/mysql-bin  
binlog_format=ROW
expire_logs_days=30
default-time_zone='+8:00'
character-set-server=utf8mb4
collation-server=utf8mb4_general_ci
# Logs
log_output=TABLE,FILE
slow_query_log=ON
slow_query_log_file=/var/lib/mysql/slow_query.log
long_query_time=1
# sql mode
# NO_ZERO_DATE: https://stackoverflow.com/questions/9192027/invalid-default-value-for-create-date-timestamp-field
sql_mode=ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION

[client]
default-character-set=utf8mb4
