[mysqld]
server-id=1
log-bin=/var/lib/mysql/mysql-bin  
binlog_format=ROW
expire_logs_days=30
default-time_zone='+8:00'
character-set-server=utf8mb4
collation-server=utf8mb4_general_ci
# Logs
#log_output=TABLE,FILE
log_output=FILE
slow_query_log=ON
slow_query_log_file=/var/lib/mysql/slow_query.log
long_query_time=1

[client]
default-character-set=utf8mb4
